<p id="notice"><%= notice %></p>

<h1><%= @merchant.name %>'s Discounts</h1>

<table>
  <thead>
    <tr>
      <th>Rate</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr id="discount-<%= discount.id %>">
        <td><%= number_to_percentage(discount.rate, precision: 1) %> discount</td>
        <td>on <%= discount.quantity %> or more items</td>
        <td><%= link_to 'Show', merchant_discount_path(discount) %></td>
        <td><%= link_to 'Edit', edit_merchant_discount_path(discount) %></td>
        <td><%= link_to 'Delete', merchant_discount_path(discount), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount', new_merchant_discount_path %>
